.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  /* animation: App-logo-spin infinite 20s linear; */
}

@keyframes App-logo-spin {
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1rem;
}

.App-link {
  color: #09d3ac;
}

.Todo-App {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item a {
  text-decoration: none;
  color: red;
}

li:hover span.delete-item {
  visibility: visible;
}

.error{
  color: red;
}

.success{
  color: green;
}
.Footer a {
  padding-left: 2px;
  padding-right: 2px;
}

.Footer a.active {
  font-weight: bold;
}
